<script>
    let bbChart = document.getElementById('casesGrowthRateChart').getContext('2d');
    let ccChart = new Chart(bbChart, {
        type: 'line',
        data: {
            labels:[{% for i in newdata_dates %}
                        "{{ i }}",
                    {%  endfor %}
            {% if not realistic_new_dates == 0 %}
                    {% for i in realistic_new_dates %}
                        "{{ i }}",
                    {%  endfor %}{% endif %}
            ],
            datasets:[{
                label: 'Spread Rate',
                data: [
                    {% for j in newdata_cases_growth_rate %}
                       {{ j }},
                    {%  endfor %},
               ],
backgroundColor: 'rgba(250, 246, 145, .4)',
            borderColor: 'rgba(247, 144, 27, 1)',
            pointRadius: 0,
            },

            {% if not realistic_new_dates == 0 %}{
                label: 'Projected Spread Rate',
                data: [

                    {% for j in realistic_cases_growth_rate %}
                       {{ j }},
                    {%  endfor %},
               ],
                backgroundColor: 'rgba(118, 110, 240, .4)',
            borderColor: 'rgba(76, 65, 240, 1)',
            pointRadius: 0,
            },{% endif %}

            ],

        },
        options: {
            tooltips: {
                intersect: false,
            }
        },

    });
</script>