<script>
    let zzzChart = document.getElementById('deathsDailyChart').getContext('2d');
    let tttChart = new Chart(zzzChart, {
        type: 'line',
        data: {
            labels:[{% for i in newdata_dates %}
                        "{{ i }}",
                    {%  endfor %}],
            datasets:[{
                label: 'Deaths per Day',
                data: [
                    {% for j in new_deaths %}
                       {{ j }},
                    {%  endfor %},
               ],
                                        backgroundColor: 'rgba(240, 115, 115, .4)',
            borderColor: 'rgba(237, 85, 85, 1)',
            }

            ],

        },
        options: {},

    });
</script>